{{#partial "content"}}
    <section class="landing-pg">
        <div class="land-left"></div>
        <div class="land-right"></div>
        <form class="form" action="/newhero" method="post">
            <h1>Create Your Hero</h1>
              <label for="content">Name</label>
            <input type="text" placeholder="Enter your hero's name" name="name" required><br>
              <label for="content">Age</label>
            <input type="number" placeholder="Enter your hero's age" name="age" required><br>
              <label for="content">Power</label>
            <input type="text" placeholder="Enter your hero's special powers" name="power" required><br>
              <label for="content">Weakness</label>
            <input type="text" placeholder="Enter your hero's weakness" name="weakness" required><br>

            <input class="btns" type="submit">
        </form>
    </section>
{{/partial}}
{{> layout.hbs}}