{{#partial "title"}}

{{/partial}}

{{#partial "content"}}
<div class="hello">
<p>This is an app allows user to recruit a well-balanced team of superheroes.<br>
 The superheros also must be able to be added into a super hero group called superhero-squad <br> hence the name Hero-Squad.</p>
<div>
{{/partial}}
<link rel='stylesheet' href='/App.css'>

{{> layout.hbs}}