{{#partial "title"}}

{{/partial}}

{{#partial "content"}}


    <form class="form" action="/squad/new" method="post">
                    <p>Add a new squad</p>
                   <label for="content">squadName</label>
                   <input type="text" placeholder="Enter the squad name" name="squadName" required>
                   <label for="content">Size</label>
                   <input type="number" placeholder="Enter the max size" name="size" required>
                   <label for="content">cause</label>
                   <input type="text" placeholder="Enter mission" name="cause" required>
                   <input type="submit" class="btns">
               </form>
{{/partial}}
<link rel='stylesheet' href='/app.css'>
{{> layout.hbs}}