{{#block "header"}}

    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{#block "title"}} hero-squad{{/block}}</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <link rel="stylesheet" href="/css/style.css">
        <style>
        body{
        background-image:url('/Images/doctor.jpeg');
        background-repeat:no-repeat;
        background-size:cover;
        }
        </style>
    </head>
    <body>
    <header>
        <hr class="nav-hr">
{{!--         <a href="/"><img src="/Images/img1"></a> --}}
        <nav>
          <ul>
            <a href="/"><li>Home</li></a>
            <a href="/hero"><li>Hero</li></a>
            <a href="/squad"><li>Squad</li></a>
          </ul>
        </nav>
      </header>
        {{/block}}
        <div class="page">
        {{#block "content"}}

        {{/block}}

        {{#block "footer"}}
        </div>
        </body>
    </html>
    {{/block}}