{{#partial "content"}}

      <h1>Create Your Squad</h1>

           <form class="form" action="/newsquad" method="post">
                <label for="content">SquadName</label>
               <input type="text" placeholder="Enter the squad name" name="squadName" required><br><br>

               <label for="content">Size</label>
               <input type="number" placeholder="Enter the max size" name="size" required><br><br>
               <label for="content">Cause</label>
               <input type="text" placeholder="Enter mission" name="cause" required><br><br>
               <input type="submit" class="btns">
           </form>
{{/partial}}

{{> layout.hbs}}