{{#partial "content"}}
    <section class="landing-pg">
        <div class="land-left">
        </div>
        <div class="land-right">
        </div>

        <div class="success">
            <!--            <h3>Success <br>  <span>{{ item }} </span> <br> Has been created</h3>-->

            <h3>Success <br>  <span>{{ item }} </span> <br> Has been created <br>{{squadId}}</h3>

            <a class="btns btn-green" href="/hero">Chech Heroes</a>



            <a class="btns btn-green" href="/squad">Check Squad</a>


        </div>


    </section>
{{/partial}}
{{> layout.hbs}}